bin/AndroidManifest.xml
bin/AndroidManifest.xml.d
tmp/sur_declare.h
bin/build.prop
bin/classes.dex
bin/classes.dex.d
*.class
bin/dexedLibs/JSDLibs_100-9170e5b725e373c36bb63e32f22e1835.jar
*.png
*.apk
bin/HelleAndroidApp-debug-unaligned.apk.d
bin/HelleAndroidApp.ap_
bin/HelleAndroidApp.ap_.d
*.java
*.h
gen/R.java.d
bin/jarlist.cache
bin/proguard.txt